.purchase-menu {
	height: 100%;
}
.purchase-menu .logo {
	background: url('purchase/src/purchase/common/images/logo.png') no-repeat 0px center;
	/*	float: left;*/
	width: 147px;
	height: 28px;
	transition: all .5s;
	background-size: contain;
	transition: all .5s;
	background-size: contain;
	margin: 17px auto 0;
}

